<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dockable</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/dist/main.css" />
</head>
<body>

    <main class="container">
        <h1>Dockable</h1>

        <div class="box naked">
            {% if user %}
            <a href="/logout" class="button" id="logout">Logout</a>
            {% else %}
            <a href="/login" class="button">Login</a>
            {% endif %}

            <hr />

            <section>
                <p>Welcome to the dashboard.</p>
            </section>

            <section class="auth-tokens">
                <h2>All Auth Tokens</h2>

                {% if not user %}
                    <p>You must be logged in to view auth tokens.</p>
                {% else %}
                    <p>This is a list of all auth tokens currently in use. There {{ (tokens|length == 1) ? 'is' : 'are' }} {{ tokens|length }} of them.</p>

                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>_id</th>
                                <th>user.username</th>
                                <th>expires_date</th>
                                <th>Unauthorize</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for token in tokens %}
                            <tr>
                                <td>{{ token['_id'] }}</td>
                                <td title="{{ token['user'].id }}">{{ token['user'].username }}</td>
                                <td title="{{ token['expires_date'] }}">{{ token['expires_date']|date('Y-m-d H:i:s') }}</td>
                                <td class="ta-c"><a href="#" class="button icon danger delete-token" data-token-id="{{ token['_id'] }}"><i class="material-icons">block</i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </section>

            <section class="users">
                <h2>All Users</h2>

                {% if not user %}
                    <p>You must be logged in to view users.</p>
                {% else %}
                    <p>This is a list of all users currently registered. There {{ (users|length == 1) ? 'is' : 'are' }} {{ users|length }} of them.</p>

                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>_id</th>
                                <th>username</th>
                                <th>email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user['_id'] }}</td>
                                <td>{{ user['username'] }}</td>
                                <td>{{ user['email'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </section>
        </div>
    </main>

    <script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js"></script>
    <script>
        Array.prototype.slice.call(document.querySelectorAll('#logout')).forEach(function(elem) {
            elem.addEventListener('click', function(ev) {
                ev.preventDefault();

                axios.post('/api/logout')
                .then(function(response) {
                    window.location.href = window.location.href;
                });
            });
        });

        Array.prototype.slice.call(document.querySelectorAll('.delete-token')).forEach(function(elem) {
            elem.addEventListener('click', function(ev) {
                ev.preventDefault();

                let tokenId = ev.currentTarget.dataset.tokenId;

                axios.delete(`/api/token/${tokenId}`).then(function(response) {
                    window.location.href = window.location.href;
                });
            });
        });
    </script>
</body>
</html>
